body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
}
.container {
  box-sizing: content-box;
  max-width: 1060px;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
}
