.header {
  margin-top: 25px;
  position: relative;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-top__left {
  display: inline-block;
}

.header-top__right {
  display: inline-block;
  text-align: right;
}

.header-top__logo {
  display: inline-block;
}

.header-top__text {
  display: inline-block;
  height: 15px;
}

.header-top__text__logo {
}

.header-top__text__text {
  margin-top: 0;
}

.header-top__number {
  text-decoration: none;
  font-style: SemiBold;
  color: #000000;
  font-size: 18px;
  line-height: 25px;
}

.header-top__call {
  margin-top: 0;
  color: #999999;
  font-size: 15px;
  line-height: 20px;
}

@media (max-width: 1024px) {
  .header-right-item,
  .header-logo-text__text {
    display: none;
  }
}
