.new-products {
  margin: 70px 0;
}

.new-products__button {
  padding: 0;
  background: none;
  border: none;
  margin-bottom: 30px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
}

.new-product__wrapper {
  margin: 0 auto;
  width: 1060px;
}

.new-products__cards {
  display: flex;
  justify-content: space-between;
  height: 104px;
}

.new-products__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05);
  border-radius: 10px;
  box-sizing: border-box;
  transition: 0.3s;
}

.new-products__card:nth-child(2) {
  margin-left: 20px;
  margin-right: 0;
}

.new-products__card:nth-child(3) {
  margin-left: 20px;
  margin-right: 20px;
}

.new-products__img {
  padding: 12px 22px 12px 18px;
}

.new-products__description {
  padding: 29px 29px 30px 0;
}

.new-products__name {
  margin-bottom: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.new-products__price {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0;
}

@media (max-width: 1024px) {
  .new-products .container {
    padding: 0;
  }

  .new-products__title {
    margin: 0 0 10px;
    padding-left: 30px;
  }

  .new-products {
    margin: -5px 0 30px;
  }

  .new-products__cards {
    padding: 0;
    overflow-y: auto;
  }

  .new-products__card {
    width: 100%;
  }

  .new-products__card:nth-child(4) {
    padding-right: 30px;
  }

  .new-products__card:first-child {
    padding-left: 30px;
  }

  .new-products__name,
  .new-products__price {
    white-space: nowrap;
  }
}
