.slider-box {
  margin-top: 50px;
  overflow: hidden;
}

.slider {
  width: 100%;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slider-item {
  width: 100%;
  margin-right: 30px;
  flex-shrink: 0;
}

.slider-item__1,
.slider-item__3 {
  opacity: 0.2;
}

.slider-img {
  width: 1060px;
  height: 300px;
}

.slider-item:first-child {
  margin-left: calc(-100% - 30px);
}
