.slider-box {
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 10px;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slider-item {
  width: 100%;
  margin-right: 20px;
  height: 300px;
  flex-shrink: 0;
}
